* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: rgb(161, 197, 250);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  max-width: 100px;
  height: 100px;

  cursor: pointer;

  background-color: rgb(21, 218, 37);

  border: 1px solid #00000015;
}

.cell:hover {
  background-color: rgb(11, 189, 26);
}

.controls {
  display: flex;
  justify-content: center;

  margin-bottom: 1rem;
}

button {
  height: 40px;
  cursor: pointer;

  padding: 0 2rem;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.entity {
  width: 100%;
  position: relative;
  z-index: 99;

  padding: .5rem;
}

.entity.zombie {
  transform: translate(-50%, -35%);
  left: 100%;
}

.entity.zombie.walking {
  animation: walking linear infinite;
}

.entity.zombie.paused {
  animation-play-state: paused;
}

@keyframes walking {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

.head-panel {
  display: flex;

  justify-content: space-between;
  align-items: center;

  margin-bottom: 5rem;
}

.tool-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 1rem;
}

.tool-plant {
  max-width: 100px;
  height: 100px;

  padding: 0.5rem;

  background-color: rgb(221, 221, 221);

  border: 1px solid #00000071;

  cursor: pointer;
}

.tool-plant.selected {
  background-color: rgb(145, 255, 195);
}

.tool-plant:hover {
  background-color: rgb(194, 194, 194);
}

.tool-plant img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
